// text prim
$Verydarkdesaturatedblue: hsl(238, 29%, 16%);
$Softred: hsl(14, 88%, 65%);
// gradient bg
$Softviolet: hsl(273, 75%, 66%);
$Softblue: hsl(240, 73%, 65%);
//  text sec
$Verydarkgrayishblue: hsl(237, 12%, 33%);
$Darkgrayishblue: hsl(240, 6%, 50%);
// dividers
$Lightgrayishblue: hsl(240, 5%, 91%);

